# dependencies
node_modules

# sst
.sst
.build

# opennext
.open-next

# misc
.DS_Store

# local env files
.env*.local

# golang vendor (dependencies) directory
vendor

# golang output binary directory
bin
.bin

# IDE localfiles
.idea
.vscode
